body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #656c6d;
	width: 100% !important;
	height: 100% !important;
}

h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}

p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

a {
	color: #333;
}
a:hover, a:focus {
	text-decoration: none;
	color: #7bc3d1;
}

header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
}

h2 {
	line-height: 20px;
	margin: 0;
	color: #121d1f;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 34px;
}
hr {
	height: 4px;
	width: 100px;
	text-align: center;
	position: relative;
	background: #7bc3d1;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

.intro{
 background: url("heasder.jpg") no-repeat center top;
 display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background-color: #7bc3d1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.btn-primary {
    color: #fff;
    background-color: #121d1f;
    padding: 10px 20px;
    border-color: #121d1f;
    border-radius: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #7bc3d1;
	border-color: #7bc3d1;
}

#header{
	border-bottom: 2px solid black;
}

.fas{
	font-size: 15px;
	margin-right: 10px;
}
/* Body Section starts */

#about{
	padding:50px;
}

#about img{
	width:200px;
	height:200px;
	margin-bottom:50px;

}

.aboutText{
	width:70%;
	padding:30px 0;
}

/* Skills Section */
#skills {
	padding: 100px 0;
	background: #7bc3d1;
}
#skills h2 {
	color: #fff;
}
#skills hr {
	background: rgba(255,255,255,0.3);
}
#skills .skill {
	margin-bottom: 40px;
	text-align: center;
	padding: 0px;
}
#skills .skill h4 {
	font-weight: 600;
	color: #fff;
}
.chart {
	position: relative;
	display: inline-block;
	width: 152px;
	height: 152px;
	margin-bottom: 26px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	font-size: 21px;
	color: #121d1f;
	line-height: 152px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}

/* My work styles */

#mywork {
	padding: 100px 0;
	background: #;
}

/* Contact footer section */

/* Contact Section */
#contact {
	padding: 100px 0 40px 0;
	color: #121d1f;
	background: #7bc3d1;
}
#contact h2 {
	color: #fff;
}
#contact hr {
	background: rgba(255,255,255,0.3);
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 30px 0;
}
#contact i.fa {
	color: #121d1f;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #E87E04;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: rgba(255,255,255,0.8);
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
	margin-top: 60px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #121d1f;
}
#contact .btn {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 0;
	padding: 10px 20px;
	color: #fff;
	margin-top: 15px;
}
#contact .btn:hover, #contact .btn:focus {
	background-color: #121d1f;
	border: 1px solid #121d1f;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	background: #121d1f;
	color: #7d8384;
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #a0a5a5;
}
#footer a:hover {
	color: #7bc3d1;
}

/* ======================================================================================================*/

@media(min-width:768px) {
.intro {
	height: 100%;
	padding: 0;
	text-align: left;
	color: #fff;
}
.intro h1 {
	font-size: 60px;
	font-weight: 500;
	letter-spacing: -2px;
}
.intro .name {
	font-weight: 600;
}
.intro .intro-text {
	max-width: 75%;
}
.intro .intro-text p {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}

header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
}

@media(min-width:992px) {
#here-me h1 {
	margin: 10px 0 0px;
}
}
